<div class="row">

  <div class="col">
    <div class="row">
      <div class="col">

        <app-painel-simples titulo="Consultas Marcadas Últimos 30 dias">
          {{resumo.consultas.consultas_30dias_anteiores}}
        </app-painel-simples>

      </div>

      <div class="col">

        <app-painel-simples titulo="Consultas Marcadas Próximos 30 dias">
          {{resumo.consultas.consultas_30dias_posteriores}}
        </app-painel-simples>

      </div>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col">

        <app-painel-simples titulo="Faturamento 30 dias anteriores">
          {{resumo.faturamento.anterior.valor}}
          <span class="badge ml-1 badge-danger">
            {{resumo.faturamento.anterior.comparativo}}%
          </span>
        </app-painel-simples>

      </div>

      <div class="col">

        <app-painel-simples titulo="Faturamento Próximos 30 dias">
          {{resumo.faturamento.previsao.valor}}
          <span class="badge ml-1 badge-success">
            15 %
          </span>
        </app-painel-simples>

      </div>
    </div>
  </div>

</div>
