<div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">

          <app-painel-simples titulo="Consultas Marcadas Últimos 30 dias">
            <h5>100</h5>
          </app-painel-simples>

        </div>

        <div class="col">

          <app-painel-simples titulo="Consultas Marcadas Próximos 30 dias">
            <h5>79</h5>
          </app-painel-simples>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col">

          <app-painel-simples titulo="Faturamento 30 dias anteriores">
            100
            <span class="badge ml-1 badge-danger">
              20 %
            </span>
          </app-painel-simples>

        </div>
        <div class="col">

          <app-painel-simples titulo="Faturamento Próximos 30 dias">
            79
            <span class="badge ml-1 badge-success">
              15 %
            </span>
          </app-painel-simples>

        </div>

  </div>

</div>
